# PostgreSQL
POSTGRES_DB=example_db
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_PORT=5432
POSTGRES_HOST=postgres_db

# Django
APP_PORT=8000
DJANGO_SETTINGS_MODULE=myapp.settings
DJANGO_DIR=/workspace/src

# Email (SMTP)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-app-password

# Admin User
USER_ADMIN_EMAIL=admin@example.com
USER_ADMIN_USERNAME=admin
USER_ADMIN_PASSWORD=change_me
USER_ADMIN_FIRST_NAME=System
USER_ADMIN_LAST_NAME=Admin

# Doctor User
USER_DOCTOR_EMAIL=doctor@example.com
USER_DOCTOR_USERNAME=doctor_user
USER_DOCTOR_PASSWORD=change_me
USER_DOCTOR_FIRST_NAME=John
USER_DOCTOR_LAST_NAME=Doe

# Patient User
USER_PATIENT_EMAIL=patient@example.com
USER_PATIENT_USERNAME=patient_user
USER_PATIENT_PASSWORD=change_me
USER_PATIENT_FIRST_NAME=Jane
USER_PATIENT_LAST_NAME=Doe